.profile_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.profile_content {
    display: grid;
    align-self: center;
    max-width: 1220px;
    grid-template-columns: 1fr 3fr;
    margin-top: 3rem;
    gap: 2rem;
}

.profile_list {
    margin-top: 2rem;
}

.profile_list ul li {
    list-style-type: none;
    margin-bottom: 1rem;
    min-width: 350px;
}

.profile_list ul {
    padding-left: 0;
}

.profile_list ul li a {
    color: #fff;
    text-decoration: none;
}

.profile_list ul li p {
    color: #fff;
    cursor: pointer;
    margin: 0;
}

.profile_list ul li p:hover {
    color: #2ffdc8;
}


.profile_list ul li a:hover {
    color: #2ffdc8;
}

.text_color_error {
    color: #DF2030;
}

.text_color_success {
    color: greenyellow;
}

.profile_info_text {
    width: 350;
    margin-top: 2rem;
}