.constructor {
    max-width: 600px;
}

.constructor__options {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.constructor__options h3 {
    width: 100%;
    text-align: center;
}

.unfocused_option {
    opacity: 0.5;
}

.focused_option {
    border-bottom: 1px solid rgba(76, 76, 255, 1);
}

.constructor__elements_container {
    height: calc(90vh - 20rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-left: 0;
}

.constructor__elements_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0.4rem;
}

.constructor__elements_wrapper li {
    list-style-type: none;
    cursor: pointer;
}

.constructor__element_wrap {
    text-align: center;
    margin-bottom: 2rem;
    list-style-type: none;
    position: relative;
}

.constructor__element_price_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

.constructor__element_price {
    margin-right: 1rem;
}

.single_ingredient_page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
}